name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            export HOME=/home/ec2-user
            git config --global --add safe.directory /home/ec2-user/crata-backend
            cd ~/crata-backend
            git pull origin main || exit 1
            npm install
            npm run build
            pm2 restart crata-api
